@model TestTaskNavicon.Models.Contact

@{
    ViewBag.Title = "- Удаление";
}

<h2>Подтвеждение удаления</h2>

<div>
    <hr />
    <h3>Вы уверены, что хотите удалить этот контакт?</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" value="Удалить" class="btn btn-danger" />
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })
</div>
